<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h6 class="h6 mb-0 text-gray-800"><a routerLink="/painelDeControle">Painel de Controle</a> -> <strong>Inserir
        Pedido</strong></h6>
  </div>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Listar Pedidos Abertos</h1>
  </div>
  <div class="offset-md-1 d-sm-flex align-items-center justify-content-between mb-4">
    <div class="offset-md-2 col btn-group" matTooltip="Clique para exibir o campo de pesquisa">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pesquisar por Cliente
            </mat-panel-title>
            <mat-panel-description>
              Nome do Cliente
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field color="warn">
            <mat-label>Nome do Cliente</mat-label>
            <input #nomeCliente matInput placeholder="Nome do Cliente" (keyup)="pesquisaNomeCliente(nomeCliente.value)">
            <mat-icon matSuffix><i class="fas fa-user"></i></mat-icon>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <mat-progress-bar *ngIf="carregamentoPagina" mode="indeterminate"></mat-progress-bar>
  <div class="table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="text-align: center">#</th>
          <th scope="col" style="text-align: center">Nome do Cliente</th>
          <th scope="col" style="text-align: center">Data Pedido</th>
          <th scope="col" style="text-align: center">Status</th>
          <th scope="col" style="text-align: center">Observações</th>
          <th scope="col" style="text-align: center"> Valor do Pedido </th>
          <th scope="col" style="text-align: center">Ação</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let pedido of pedidos | paginate: { itemsPerPage: 10, currentPage: p }">
          <td scope="row" style="text-align: center">{{ pedido.id | idConverter }}</td>
          <td scope="row" style="text-align: center">{{ pedido.client }}</td>
          <td scope="row" style="text-align: center">{{ pedido.orderDate }}</td>
          <td scope="row" style="text-align: center">
            {{ pedido.status }}
            <div *ngIf="pedido.status === 'aberto'" class="progress progress-sm mr-2">
              <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%"
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td scope="row" style="text-align: center">{{ pedido.comments }}</td>
          <td scope="row" style="text-align: center">{{ pedido.orderValue | currency :'BRL':true  }}</td>
          <td scope="row" style="text-align: center">
            <button data-toggle="modal" (click)="selecionarPedidoFinalizar(pedido.id)"
              data-target=".bd-finalizarPedido-modal-xl" class="btn btn-success" style="margin-left: 5px">
              <i class="fa fa-check-circle"></i>
            </button>
            <button data-toggle="modal" (click)="visualizarPedido(pedido.id)"
              data-target=".bd-visualizarPedido-modal-xl" class="btn btn-warning" style="margin-left: 5px">
              <i class="fa fa-eye"></i>
            </button>
            <button data-toggle="modal" (click)="selecionarPedidoCancelar(pedido.id)"
              data-target=".bd-excluirPedido-modal-xl" class="btn btn-danger" style="margin-left: 5px">
              <i class="fa fa-times-circle"></i>
            </button>
          </td>
        </tr>
        <pagination-controls id="some_id" (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true"
          responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </tbody>
    </table>

    <h1 style="text-align: center" class="h3 mb-0 text-gray-800">{{ mensagemCarregamento }}</h1>
  </div>
</div>

<!-- Modal Cancelar Pedido  -->
<div *ngIf="pedidoExcluir !== null " class="modal fade bd-excluirPedido-modal-xl" id="exampleModal" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancelar Pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" style="text-align: center">#</th>
              <th scope="col" style="text-align: center">Nome Cliente</th>
              <th scope="col" style="text-align: center">Observações</th>
              <th scope="col" style="text-align: center">Valor Pedido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row" style="text-align: center">{{ pedidoExcluir.id | idConverter }}</td>
              <td scope="row" style="text-align: center">{{ pedidoExcluir.client }}</td>
              <td scope="row" style="text-align: center">{{ pedidoExcluir.comments }}</td>
              <td scope="row" style="text-align: center">{{ pedidoExcluir.orderValue | currency :'BRL':true  }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" (click)="cancelarPedido()" data-toggle="modal" data-target=".bd-status-modal-xl"
          data-dismiss="modal" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Finalizar Pedido  -->
<div *ngIf="pedidoFinalizar !== null" class="modal fade bd-finalizarPedido-modal-xl" id="exampleModal" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Finalizar Pedido </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          Selecione a forma de pagamento para habilitar o botão de Finalizar...
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" style="text-align: center">#</th>
              <th scope="col" style="text-align: center">Nome Cliente</th>
              <th scope="col" style="text-align: center">Observações</th>
              <th scope="col" style="text-align: center">Valor Pedido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row" style="text-align: center">{{ pedidoFinalizar.id | idConverter }}</td>
              <td scope="row" style="text-align: center">{{ pedidoFinalizar.client }}</td>
              <td scope="row" style="text-align: center">{{ pedidoFinalizar.comments }}</td>
              <td scope="row" style="text-align: center">{{ pedidoFinalizar.orderValue | currency :'BRL':true  }}</td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <h6 style="margin-left: 50px;">Forma de Pagamento:</h6>
          <mat-radio-group aria-label="Selecione uma opção">
            <mat-radio-button value="vista" (click)="pagamento('vista')" style="margin-left: 50px;">Dinheiro >
              <strong>À
                Vista</strong></mat-radio-button>
            <mat-radio-button value="prazo" (click)="pagamento('prazo')" style="margin-left: 20px;">Dinheiro >
              <strong>À
                Prazo</strong></mat-radio-button>
            <div *ngIf="parcelamento" class="offset-4">
              <mat-form-field class="example-full-width">
                <mat-label>Parcelas</mat-label>
                <form [formGroup]="formParcelas">
                  <input type="number" matInput placeholder="Ex. 2" (input)="qntdParcelas()"
                    formControlName="qntdParcelas">
                </form>
              </mat-form-field>
            </div>
          </mat-radio-group>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" (click)="finalizarPedido()" data-toggle="modal" data-target=".bd-status-modal-xl"
          data-dismiss="modal" class="btn btn-primary" [disabled]="!habilitarBotaoFinalizar">Finalizar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Visualizar Pedido-->
<div *ngIf="pedidoVisualizar !== null" class="modal fade bd-visualizarPedido-modal-xl" id="exampleModal" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Visualizar Pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" style="text-align: center">#</th>
              <th scope="col" style="text-align: center">Nome Cliente</th>
              <th scope="col" style="text-align: center">Observações</th>
              <th scope="col" style="text-align: center">Valor Pedido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row" style="text-align: center">{{ pedidoVisualizar.id | idConverter }}</td>
              <td scope="row" style="text-align: center">{{ pedidoVisualizar.client }}</td>
              <td scope="row" style="text-align: center">{{ pedidoVisualizar.comments }}</td>
              <td scope="row" style="text-align: center">{{ pedidoVisualizar.orderValue | currency :'BRL':true  }}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-body">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Produtos</h5>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" style="text-align: center">#</th>
              <th scope="col" style="text-align: center">Nome Produto</th>
              <th scope="col" style="text-align: center">Valor Unitário</th>
              <th scope="col" style="text-align: center">Quantidade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pedidoVisualizar.orderItens">
              <td scope="row" style="text-align: center">{{ item.id }}</td>
              <td scope="row" style="text-align: center">{{ item.product.name }}</td>
              <td scope="row" style="text-align: center">{{ item.product.unitaryValue | currency :'BRL':true }}</td>
              <td scope="row" style="text-align: center">{{ item.quantity }}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Status -->
<div class="modal fade bd-status-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <mat-progress-bar *ngIf="carregamento" mode="indeterminate"></mat-progress-bar>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Status da Operação</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {{ mensagem }}

        <div *ngIf="productsMiss">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" style="text-align: center">Nome Produto</th>
                <th scope="col" style="text-align: center">Valor Unitário</th>
                <th scope="col" style="text-align: center">Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of productsMissing">
                <td scope="row" style="text-align: center">{{ product.name }}</td>
                <td scope="row" style="text-align: center">{{ product.unitaryValue | currency :'BRL':true }}</td>
                <td scope="row" style="text-align: center">{{ product.quantityInStock }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 modal-footer">
        <button type="button" class="btn btn-secondary" (click)="limparMensagem()" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>