<div class="container-fluid" style="height: 100%;">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h6 class="h6 mb-0 text-gray-800"><a routerLink="/dashboard">Painel de Controle</a> -> <strong>Inserir
          Pedido</strong></h6>
      <button (click)="tips()" class="btn btn-lg fas fa-question-circle"
        style="margin-left: 69.5%; color: blue;"></button>
    </div>
    <div *ngIf="panelTips" class="alert alert-warning" role="alert">
      <i class="fas fa-question-circle"></i> <button type="button" class="close" data-dismiss="alert" (click)="tips()"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Preencha o formulário para habilitar o de Adicionar Produto
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Inserir Pedido</h1>
    </div>
    <mat-progress-bar *ngIf="loadingProducts" mode="indeterminate"></mat-progress-bar>
    <form [formGroup]="formInsertProduct">
      <div class="row">
  
        <div class="offset-md-2 d-sm-flex align-items-center justify-content-between mb-4">
          <div class="col btn-group" matTooltip="Selecione o produto">
            <mat-form-field>
              <mat-label>Produto</mat-label>
              <mat-select formControlName="id">
                <mat-option *ngFor="let product of products" value="{{ product.id }}">{{ product.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
        <div class="offset-md-1 d-sm-flex align-items-center justify-content-between mb-4">
          <div class="col btn-group" matTooltip="Digite a quantidade do produto">
            <mat-form-field class="example-full-width">
              <mat-label>Quantidade</mat-label>
              <input type="number" matInput placeholder="Ex. 100" formControlName="qntd">
            </mat-form-field>
          </div>
        </div>
  
        <div class="col-xl-2 col-md-4 mb-12" style="margin-top: 5px">
          <button type="button" (click)="addProductToList()" class="btn btn-primary" [disabled]="!formInsertProduct.valid">
            Adicionar Produto
          </button>
        </div>
        <div class="col-xl-2 col-md-4 mb-12" style="margin-top: 5px">
          <button type="button" (click)="calculateValueOrder()" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-xl"
            [disabled]="enableModalButton">
            Fechar Pedido
          </button>
        </div>
      </div>
    </form>
  
    <div class="row" style="margin-top: 30px">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" style="text-align: center">#</th>
              <th scope="col" style="text-align: center">Produto</th>
              <th scope="col" style="text-align: center">Quantidade</th>
              <th scope="col" style="text-align: center">Valor Unitário</th>
              <th scope="col" style="text-align: center">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let iten of orderItens">
              <td scope="row" style="text-align: center">{{ iten.id }}</td>
              <td scope="row" style="text-align: center">{{ iten.product.name }}</td>
              <td scope="row" style="text-align: center">{{ iten.quantity }}
                <button type="button" class="btn" data-target=".modal-edit-quantity" data-toggle="modal"
                  (click)="selectProduct(iten.id)">
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </td>
              <td scope="row" style="text-align: center">{{ iten.product.unitaryValue | currency :'BRL':true }}</td>
              <td scope="row" style="text-align: center"> <button type="button" (click)="findDeleteItem(iten.id)"
                  data-toggle="modal" data-target=".bd-excluir-modal-xl" class="btn btn-danger">Excluir</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
  
  <!-- Itens Pedido -->
  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <mat-progress-bar *ngIf="loadingPage" mode="indeterminate"></mat-progress-bar>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Pedido</h5>
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Itens do Pedido</h5>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center">#</th>
                  <th scope="col" style="text-align: center">Produto</th>
                  <th scope="col" style="text-align: center">Quantidade</th>
                  <th scope="col" style="text-align: center">Valor Unitário</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let iten of orderItens">
                  <td scope="row" style="text-align: center">{{ iten.id }}</td>
                  <td scope="row" style="text-align: center">{{ iten.product.name }}</td>
                  <td scope="row" style="text-align: center">{{ iten.quantity }}</td>
                  <td scope="row" style="text-align: center">{{ iten.product.unitaryValue | currency :'BRL':true  }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
  
          </div>
  
          <form [formGroup]="formNameClient">
            <div class="row">
  
              <div class="col-xl-4 col-md-4 mb-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Cliente</span>
                  </div>
                  <input type="text" class="form-control" formControlName="nameClient">
                </div>
              </div>
  
              <div class="col-xl-3 col-md-3 mb-12">
                <input type="text" class="form-control" placeholder="Observações" formControlName="comments">
              </div>
              <div class="col-xl-3 col-md-4 mb-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="number" class="form-control" readonly value="{{ orderValue }}"
                    formControlName="orderValue">
                </div>
              </div>
              <div class="col-12 modal-footer">
                <button type="button" class="btn btn-secondary" (click)="limparMensagem()"
                  data-dismiss="modal">Fechar</button>
                <button type="button" (click)="insertOrder()" data-target=".bd-status-modal-xl" data-toggle="modal"
                  data-dismiss="modal" [disabled]="!formNameClient.valid" class="btn btn-success">Realizar
                  Pedido</button>
              </div>
            </div>
          </form>
        </div>
  
  
      </div>
    </div>
  </div>
  
  <!-- Modal Excluir Item -->
  <div *ngIf="deleteItem !==null" class="modal fade bd-excluir-modal-xl" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Excluir Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center">#</th>
                  <th scope="col" style="text-align: center">Produto</th>
                  <th scope="col" style="text-align: center">Quantidade</th>
                  <th scope="col" style="text-align: center">Valor Unitário</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" style="text-align: center">{{deleteItem.id}}</td>
                  <td scope="row" style="text-align: center">{{ deleteItem.product.name }}</td>
                  <td scope="row" style="text-align: center">{{ deleteItem.quantity }}</td>
                  <td scope="row" style="text-align: center">
                    {{ deleteItem.product.unitaryValue | currency :'BRL':true  }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" (click)="deleteIten()" data-dismiss="modal" class="btn btn-primary">Excluir</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Modal Edit Quantity -->
  <div *ngIf="itenEditQuantity !== null && itenEditQuantity !== undefined" class="modal fade modal-edit-quantity"
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <mat-progress-bar *ngIf="loadingPage" mode="indeterminate"></mat-progress-bar>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Editar Quantidade</h5>
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form [formGroup]="formEditQuantity">
              <div class="d-sm-flex align-items-center justify-content-between">
                <div class="col btn-group" matTooltip="Digite a quantidade do produto">
                  <mat-form-field class="example-full-width">
                    <mat-label>Quantidade</mat-label>
                    <input type="number" matInput placeholder="Ex. 100" value="{{ itenEditQuantity.quantity }}"
                      formControlName="quantity">
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
  
        </div>
        <div class="col-12 modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="editQuantity()" data-dismiss="modal">Editar</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Modal Status -->
  <div class="modal fade bd-status-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <mat-progress-bar *ngIf="carregamentoPagina" mode="indeterminate"></mat-progress-bar>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Status da Operação</h5>
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          {{ message }}
  
        </div>
        <div class="col-12 modal-footer">
          <button type="button" class="btn btn-secondary" (click)="clearMessage()" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>