<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div *ngIf="validandoLink" class="alert alert-info" role="alert" style="margin-top: 50px;">
        Aguarde! Estamos validando o link... <mat-progress-bar mode="buffer">
        </mat-progress-bar>
      </div>

      <div *ngIf="!linkValido && !validandoLink" class="alert alert-info" role="alert" style="margin-top: 50px;">
        {{ mensagem }} <a href="" routerLink="">Clique aqui para voltar a página de Login</a>
      </div>

      <div *ngIf="linkValido" class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">

            <div class="col-lg-6 d-none d-lg-block bg-login">
              <img id="img" src="../../assets//img/Logo-Divina-Providencia.ico"
                style="margin-left: 30%; margin-top: 10%">
            </div>
            <div class="col-lg-6">

              <div class="p-5">
                <div class="">
                  <h6 class="h6 text-gray-900 mb-4">Olá, Digite a nova senha... :)</h6>
                </div>
                <form [formGroup]="formularioNovaSenha" (ngSubmit)="atualizarSenha()" class="user">
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" placeholder="Digite a nova senha..."
                      formControlName="novaSenha">
                    <small
                      *ngIf="formularioNovaSenha.get('novaSenha').valid && formularioNovaSenha.get('novaSenha').touched"
                      class="form-text text-success">Senha válida</small>
                    <small
                      *ngIf="!formularioNovaSenha.get('novaSenha').valid && formularioNovaSenha.get('novaSenha').touched"
                      class="form-text text-danger">Senha inválida: Mínimo 6 digitos</small>
                  </div>
                  <div class="form-group">
                    <input type="password" #senha (keyup)="compararSenha(senha.value)"
                      class="form-control form-control-user" placeholder="Repita a senha..."
                      formControlName="confirmarNovaSenha">
                    <small *ngIf="formularioNovaSenha.get('confirmarNovaSenha').touched && senhasConferem"
                      class="form-text text-success">Senhas conferem</small>
                    <small *ngIf="formularioNovaSenha.get('confirmarNovaSenha').touched && !senhasConferem"
                      class="form-text text-danger">Senhas não conferem</small>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block"
                    [disabled]="!senhasConferem">
                    Mudar a Senha
                  </button>
                  <hr>
                </form>
                <hr>
                <div *ngIf="carregamento" class="alert alert-warning" role="alert" style="margin-top: 20px;">
                  {{ mensagem }}
                  <mat-progress-bar mode="buffer">
                  </mat-progress-bar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Status -->
<div *ngIf="carregamento" class="modal fade bd-status-modal-xl" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <mat-progress-bar *ngIf="carregamento" mode="indeterminate"></mat-progress-bar>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Recuperação de Senha</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="col-12 modal-footer">
        <button type="button" class="btn btn-secondary" (click)="limparMensagem()" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>