<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div *ngIf="validatingLink" class="alert alert-info" role="alert" style="margin-top: 50px;">
        Aguarde! Estamos validando o link... <mat-progress-bar mode="buffer">
        </mat-progress-bar>
      </div>

      <div *ngIf="!validLink && !validatingLink" class="alert alert-info" role="alert" style="margin-top: 50px;">
        {{ message }} <a href="" routerLink="">Clique aqui para voltar a página de Login</a>
      </div>

      <div *ngIf="validLink" class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">

            <div class="col-lg-6 d-none d-lg-block bg-login">
              <img id="img" src="../../assets//img/Logo-Divina-Providencia.ico"
                style="margin-left: 30%; margin-top: 10%">
            </div>
            <div class="col-lg-6">

              <div class="p-5">
                <div class="">
                  <h6 class="h6 text-gray-900 mb-4">Olá, Digite a nova senha... :)</h6>
                </div>
                <form [formGroup]="formNewPassword" (ngSubmit)="updatePassword()" class="user">
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" placeholder="Digite a nova senha..."
                      formControlName="novaSenha">
                    <small
                      *ngIf="formNewPassword.get('newPassword').valid && formNewPassword.get('newPassword').touched"
                      class="form-text text-success">Senha válida</small>
                    <small
                      *ngIf="!formNewPassword.get('newPassword').valid && formNewPassword.get('newPassword').touched"
                      class="form-text text-danger">Senha inválida: Mínimo 6 digitos</small>
                  </div>
                  <div class="form-group">
                    <input type="password" #password (keyup)="comparePassword(password.value)"
                      class="form-control form-control-user" placeholder="Repita a senha..."
                      formControlName="confirmNewPassword">
                    <small *ngIf="formNewPassword.get('confirmNewPassword').touched && passwordsMatch"
                      class="form-text text-success">Senhas conferem</small>
                    <small *ngIf="formNewPassword.get('confirmNewPassword').touched && !passwordsMatch"
                      class="form-text text-danger">Senhas não conferem</small>
                  </div>
                  <button type="submit" data-target=".bd-status-modal-xl" data-toggle="modal"
                    class="btn btn-primary btn-user btn-block" [disabled]="!passwordsMatch">
                    Mudar a Senha
                  </button>
                  <hr>
                </form>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Status -->
<div class="modal fade bd-status-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Recuperação de Senha</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert" style="margin-top: 20px;">
          {{ message }}
          <mat-progress-bar mode="buffer">
          </mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>